# -*- coding: utf-8 -*-
"""Tests for {{ plugin_name|replace('_',' ')}} plugin."""
import unittest

from plaso.lib import eventdata
from plaso.lib import timelib
from plaso.parsers.sqlite_plugins import {{ plugin_name }}

from tests import test_lib as shared_test_lib
from tests.parsers.sqlite_plugins import test_lib


class {{ class_name }}Test(test_lib.SQLitePluginTestCase):
  """Tests for {{ plugin_name|replace('_',' ')}} database plugin."""

  @shared_test_lib.skipUnlessHasTestFile([u'{{ database_name }}'])
  def testProcess(self):
    """Test the Process function on a {{ plugin_name|replace('_',' ')|title}} file."""
    plugin_object = {{ plugin_name }}.{{ class_name }}Plugin()
    storage_writer = self._ParseDatabaseFileWithPlugin(
        [u'{{ database_name }}'], plugin_object)

    # We should have {{ count_events }} events in total.
    {% for query in queries %}{% for column in query.timestamp_columns|sort(attribute='sql_column') %}# - {{ query.amount_events }} {{ query.name }} {{ column.sql_column }} events.
    {% endfor %}{% endfor %}
    self.assertEqual({{ count_events }}, len(storage_writer.events))

{% for query in queries %}{% for timestampcolumn in query.timestamp_columns %}
    # Test the first {{ query.name|lower }} {{ timestampcolumn.sql_column }} event.
    guessed_event = [
        e for e in storage_writer.events if{% for datacolumn in query.columns|sort(attribute='sql_column',case_sensitive=False)%}
        {% if datacolumn.GetFirstDataForTimeEvent(timestampcolumn.sql_column) == None%}e.{{datacolumn.GetColumnAsSnakeCase()}} is None{% if not loop.last %} and{% endif %}
        {% elif datacolumn.GetColumnTypeAsName()=='str' or datacolumn.GetColumnTypeAsName()=='bytes'%}e.{{datacolumn.GetColumnAsSnakeCase()}} == u'{{ datacolumn.GetFirstDataForTimeEvent(timestampcolumn.sql_column)|e|wordwrap(width=64,wrapstring="'\n                 u'")|indent(17)}}'{% if not loop.last %} and{% endif %}
        {% else %}e.{{datacolumn.GetColumnAsSnakeCase()}} == {{ datacolumn.GetFirstDataForTimeEvent(timestampcolumn.sql_column)}}{% if not loop.last %} and{% endif %}{% endif%}{% endfor %}
    ][0]
    position = storage_writer.index(guessed_event)
    test_event = storage_writer.events[position]

    # TODO add expected formatted timestamp for timestamp in database: {{ timestampcolumn.timestamp}}
    expected_timestamp = timelib.Timestamp.CopyFromString(u'TODO')
    self.assertEqual(test_event.timestamp, expected_timestamp)

    self.assertEqual(
      test_event.timestamp_desc, eventdata.EventTimestamp.CREATION_TIME)
    {% for datacolumn in query.columns|sort(attribute='sql_column',case_sensitive=False)%}{% if datacolumn.GetFirstDataForTimeEvent(timestampcolumn.sql_column)== None%}self.assertIsNone(test_event.{{ datacolumn.GetColumnAsSnakeCase()}}){% elif datacolumn.GetColumnAsSnakeCase()|length + datacolumn.GetFirstDataForTimeEvent(timestampcolumn.sql_column)|e|length < 40 %}{% if datacolumn.GetColumnTypeAsName()=='str' or datacolumn.GetColumnTypeAsName()=='bytes'%}self.assertEqual(test_event.{{ datacolumn.GetColumnAsSnakeCase()}}, u'{{datacolumn.GetFirstDataForTimeEvent(timestampcolumn.sql_column)|e}}'){% else %}self.assertEqual(test_event.{{ datacolumn.GetColumnAsSnakeCase()}}, {{datacolumn.GetFirstDataForTimeEvent(timestampcolumn.sql_column)}}){% endif%}{% else %}expected_{{datacolumn.GetColumnAsSnakeCase()}} = (
        u'{{ datacolumn.GetFirstDataForTimeEvent(timestampcolumn.sql_column)|e|wordwrap(width=64,wrapstring="'\n        u'")|indent(8)}}')
    self.assertEqual(test_event.{{ datacolumn.GetColumnAsSnakeCase()}}, expected_{{datacolumn.GetColumnAsSnakeCase()}}){% endif %}
    {% endfor %}
    expected_message = (
        u'{{ timestampcolumn.expected_message|e|wordwrap(width=64,wrapstring="'\n        u'")}}')
    expected_message_short = (
        u'{{ timestampcolumn.GetShortExpectedMessage()|e|wordwrap(width=64,wrapstring="'\n        u'")}}')

    self._TestGetMessageStrings(
        test_event, expected_message, expected_message_short)
{% endfor %}{% endfor %}

if __name__ == '__main__':
  unittest.main()
