"""Tests for {{ class_name }}Plugin."""
import mock

from timesketch.lib.analyzers import {{ plugin_name }}
from timesketch.lib.testlib import BaseTest
from timesketch.lib.testlib import MockDataStore


class Test{{ class_name }}(BaseTest):
    """Tests the functionality of the analyzer."""

    # Mock the Opensearch datastore.
    @mock.patch(
        u'timesketch.lib.analyzers.interface.OpenSearchDataStore', MockDataStore)
    def test_{{ class_name }}_analyzer_class(self):
        """Test core functionality of the analyzer class."""
        # TODO: Write actual tests here.
        self.assertEqual(True, False)
