# -*- coding: utf-8 -*-
"""Parser for {{ plugin_name|lower|replace('_',' ')}} database.

SQLite database path:
# TODO: add database path
SQLite database Name: {{ database_name }}
"""

from dfdatetime import posix_time as dfdatetime_posix_time

from plaso.containers import time_events
from plaso.lib import eventdata
from plaso.parsers import sqlite
from plaso.parsers.sqlite_plugins import interface
{% for query in queries %}
class {{ class_name }}{{ query.name|capitalize}}EventData(events.EventData):
  """{{ plugin_name|replace('_',' ')}} {{query.name|lower}} event data.

  TODO: add type and description of attributes
  Attributes:  {% for column in query.columns|sort(attribute='sql_column') %}
    {{ column.GetColumnAsSnakeCase() }} ({{ column.GetColumnTypeAsName() }}): TODO{% endfor %}
  """

  DATA_TYPE = u'{{ plugin_name|lower|replace('_',':')}}:{{query.Name|lower}}'

  def __init__(self):
    """Initializes event data."""
    super({{ class_name }}{{ query.name|capitalize }}EventData, self).__init__(data_type=self.DATA_TYPE)
    {% for column in query.columns|sort(attribute='sql_column') %}self.{{ column.GetColumnAsSnakeCase() }} = None
    {% endfor %}{% endfor %}

class {{ class_name }}Plugin(interface.SQLitePlugin):
  """Parser for {{ class_name }}"""

  NAME = u'{{ plugin_name }}'
  DESCRIPTION = u'Parser for {{ class_name }}'

  QUERIES = [ {% for query in queries %}
    ((u'{{ query.query|wordwrap(width=64,wrapstring="'\n      u'")}})'),
     u'Parse{{ query.name|capitalize }}Row'){% if not loop.last %},{% endif %}{% endfor %}]

  REQUIRED_TABLES = frozenset([
      {% for table in required_tables %}u'{{ table }}'{% if not loop.last %},
      {% endif %}{% endfor %}])

{% for query in queries %}
  def Parse{{ query.name|capitalize }}Row(self,  parser_mediator, row, query=None, **unused_kwargs):
    """Parses a contact row from the database.

    Args:
      parser_mediator (ParserMediator): mediates interactions between parsers
          and other components, such as storage and dfvfs.
      row (sqlite3.Row): row resulting from Query.
      Query (Optional[str]): Query.
    """
    # Note that pysqlite does not accept a Unicode string in row['string'] and
    # will raise "IndexError: Index must be int or string".

    event_data = {{ class_name }}{{ query.Name|capitalize }}EventData()
    {% for column in query.columns|sort(attribute='sql_column') %}event_data.{{ column.GetColumnAsSnakeCase()}} = row['{{ column.sql_column}}']
    {% endfor %}
    {% for column in query.timestamp_columns|sort(attribute='sql_column') %}
    timestamp = row['{{ column.sql_column}}']
    if timestamp:
    # Convert the floating point value to an integer.
      timestamp = int(timestamp)
      date_time = dfdatetime_posix_time.PosixTime(timestamp=timestamp)
      # TODO: Add correct time field for None value.  Example: eventdata.EventTimestamp.UPDATE_TIME
      event = time_events.DateTimeValuesEvent(date_time, None)
      parser_mediator.ProduceEventWithEventData(event, event_data)
    {% endfor %}

{% endfor %}

sqlite.SQLiteParser.RegisterPlugin({{ class_name }}Plugin)